# Node modules
node_modules/

# Build folder
build/

# Firebase config
.firebase.json
.firebaserc

# Environment variables
.env
.env.local

# Logs and temp files
npm-debug.log*
yarn-debug.log*
*.log

# Dependency lock files (optional)
package-lock.json
